body {
	margin:0px;
	background-image:none;
	position:relative;
	left:0px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
.all {
	width: 100%;
}
.header1 {
	width: 100%;
	height: 100px;
}
.headerTop {
	width: 100%;
	height: 10px;
  background: #77aff4;
}
.headerBottom {
	width: 100%;
	height: 90px;
  background: #2d77d3;
}
.headerContent {
  width: 1200px;
  height: 90px;
  margin: 0 auto;
  line-height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerContent>span{
  font-family: 'Source Han Sans CN';
  font-weight: 900;
  font-style: normal;
  font-size: 36px;
  color: #FFFFFF;
}
.headerContent>div {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerContent>div>span {
  font-family: 'Source Han Sans CN';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
}
.allContant {
  width: 100%;
  margin-top: 10px;
}
.content {
  margin: 0 auto;
  width: 1200px;
}
.contentNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #2d77d3
}
a{
  color: black;
}
.content1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.content1>div:nth-child(1) {
  width: 50%;
}
.content1>div:nth-child(2) {
  width: 600px;
}
.contentLeft>.contentLeftTop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 32px;
}
.contentLeft>.contentLeftTop>div:nth-child(1) {
  font-family: '思源黑体 CN';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}
.contentLeft>.contentLeftTop>div:nth-child(2)>input {
  width: 60px;
  height: 32px;
}
.contentLeftContent {
  width: 100%;
  margin-top: 10px;
  height: 345px;
}
.contentLeftContent>textarea {
  width: 100%;
  height: 345px;
}
.contentLeftBottom{
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  justify-content: flex-end;
}
.contentLeftBottom>button:hover {
  color: #fff;
  background: #2d77d3;
}
.contentRightBottom{
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 30px;
}
.contentRightBottom>button:hover {
  color: #fff;
  background: #2d77d3;
}
.contentRight {
  width: 100%;
}
.contentRight>div:nth-child(1) {
  margin-left: 30px;
  margin-top: 42px;
  height: 354px;
}
.contentRight>div>p:nth-child(1) {
  width: 100%;
  margin-top: 32px;
  line-height: 24px;
  overflow: hidden;
}
.contentRight>div>div {
  width: 100%;
  margin-top: 10px;
  line-height: 24px;
}
.input1>input {
  width: 88.5%;
}
.input11>input {
  width: 90%;
}
p {
  margin: 0;
}
input[type=checkbox], input[type=radio]{
  margin-top: 6px;
}
.ld{
  margin-left: 75px;
  height: 64px;
}
.footer {
  margin-top: 120px;
  width: 100%;
  height: 210px;
}
.footerTop {
  width: 100%;
  height: 10px;
  background: #77aff4;
}
.footerBottom {
  width: 100%;
  height: 200px;
  background: #2d77d3;
  text-align: center;
  overflow: hidden;
}
.footer1>p:nth-child(1) {
  margin-top: 20px;
  font-family: '思源黑体 CN';
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  color: #FFFFFF;
}
.lianxi{
  width: 650px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.lianxi>div>img {
  height: 24px;
  margin-right: 10px;
}
.lianxi>div>span {
  font-family: '思源黑体 CN';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: normal;
  color: #FFFFFF;
}
.footer1>p:nth-child(3) {
  margin-top: 30px;
  font-family: '思源黑体 CN';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: normal;
  color: #FFFFFF;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
  background: #2d77d3;
  border-color: #2d77d3;
  color: #fff;
}
.btn-default:hover {
  background: #fff;
  border-color: #ccc;
  color: #333;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
  background: #2d77d3;
  border-color: #2d77d3;
  color: #fff;
}